.shop {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; */
  min-height: 100vh;
  background: #f1f1f1;
}

.container{
  margin: 2vh 0;
  background: #fff;
}

.shop-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92vw;
  padding: 0 4vw;
  border-bottom: #f1f1f1 2px solid;
}

.shop-item .img {
  width: 20vw;
  height: 20vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.shop-item .wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 68vw;
  height: 20vw;
  padding-left: 4vw;
  margin: 2vh 0;
}

.shop-item .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2em;
  font-weight: bold;
}

.shop-item .price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: #fa4b2a;
  font-size: 1em;
  font-weight: bold;
}

.shop-item .view {
  color: #c7c7c7;
  font-size: 0.8em;
  /* font-weight: bold; */
}

.setting{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8vw;
  padding: 2vw;
  /* background: red; */
}

.setting-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw !important;
  height: 6vw;
  margin-left: 4vw;
  padding: 1vw 3vw;
  font-size: 1em;
  border: #f1f1f1 2px solid;
  border-radius: 12px;
}