.message-title{
  margin-left: 5vw;
  font-size: 1em;
  font-weight: bold;
}

.message-item {
  display: flex;
  justify-content: space-evenly;
  margin: 1vh 0;
  padding: 2vh 0;
  border-bottom: #f1f1f1 2px solid;
  /* box-shadow: #d7d7d7 20px 20px 50px -20px; */
}

.message-avater {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
}

.message-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 73vw;
  height: 12vw;
  /* background: red; */
}

.message-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vw;
  /* background: blue; */
}

.message-head Text:first-child{
  color: #333;
  font-size: 1em;
  font-weight: bold;
}

.message-head Text:last-child{
  color: #666;
  font-size: 0.8em;
}

.message-content{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 7vw;
  color: #888;
  font-size: 0.8em;
}