.tabbar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  background: #fff;
  box-shadow:0 0 20px 5px #d7d7d7;
}

.tabbar-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  color: #666;
}

.tabbar-button{
  width: 6vh;
  height: 6vh;
  color: #fff;
  border-radius: 50%;
  background: url('https://cdn.algbb.fun/add-button.png') no-repeat;
  background-size: cover;
}

.tabbar-selected{
  color: #fa4b2a;
}