.home{
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  position: relative;
  width: 96vw;
  padding: 0 2vw;
}

.search-bar{
  position: fixed;
  width: 100%;
  height: 10vh;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0.9;
}

.swiper{
  width: 96vw;
  height: 30vh;
  margin-top: 5vh;
}

.swiper-item{
  width: 100%;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
  padding-left: 0.5em;
  font-size: 1.2em;
  border-left: #fa4b2a 5px solid;
}

.title Text:last-child{
  color: #666;
  font-size: 0.6em;
}

.shop{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.shop-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(44vw - 2px);
  height: 420px;
  /* margin: 1vw 0; */
  padding: 2vw;
  border-bottom: #d7d7d7 2px solid;
  /* background: red; */
}

.right-border{
  border-right: #d7d7d7 2px solid;
}

.shop-item .img{
  width: 300px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}

.shop-item .description{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 88px;
  font-size: 0.9em;
}

.shop-item .price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.shop-item .price Text:first-child{
  color: #fa4b2a;
  font-size: 0.9em;
  font-weight: bold;
}

.shop-item .price Text:last-child{
  color: #c7c7c7;
  font-size: 0.8em;
  /* font-weight: bold; */
}
